
@{
    ViewBag.Title = "importTextFile";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="content-wrapper">
    <div class="box box-info">

        <div class="box-header with-border">
            <h4>
                Import From Text
                <a href="https://www.youtube.com/watch?v=yYChS8s7y9g&list=PLT-Gd9X3Y1afr1FZRb8Z8ELFncnWwOhzz&index=19"
                   target="_blank"
                   data-toggle="tooltip"
                   title="Click to view more info">
                    <i class="fa fa-info-circle" style="font-size:25px;"></i>
                </a>
            </h4>
        </div><!-- /.box-header -->
        <div class="box-body">
            <div class="row">
                <div class="col-md-12">

                       @{
                               var successMessage =TempData["Upload"] as string;
                           }

                           @if (!string.IsNullOrEmpty(successMessage))
                           {
                               @Html.Partial("~/Views/Shared/AlertPartial.cshtml", new Tuple<string, string>("success", successMessage))
                    }
                    <div class="form-horizontal">

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    @using (Html.BeginForm("importTextFile", "Booking", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                    {
                                        <label class="">Upload Text or Csv  File </label>
                                        <div class="">
                                            <input id="File1" type="file" name="ImportText" />
                                        </div>
                                        <div style="text-align:end;">
                                            <input type="submit" class="btn btn-success mt-3" value="Upload" style="margin-top:20px" />
                                        </div>
                                    }
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


