@model DtDc_Billing.Models.InvoiceModel
@{
    ViewBag.Title = "GenerateInvoice";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}





<div>
    @Html.Partial("GnerateInoviceWithoutGSTPartial", Model)
</div>


