@model string
@{
    ViewBag.Title = "GetConsignmentInfo";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<!-- jQuery 3.x -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    table, th, td {
        border: 1px solid black;
    }

    th, td {
        padding: 10px;
        text-align: left;
    }
    #viewDRSImage, #podImgLink, #viewPOD, #viewSignature, #linkId, #viewImage, #mailIDput {
        display: none;
    }

    .main-footer {
        display: none;
    }

    img {
        display: none;
    }

    .widget-header_new {
        background: #808080 repeat scroll 0 0 !important;
        border-top: 4px solid #dde2e6 !important;
    }

    .h3 {
        background-color: gray;
        color: blueviolet;
    }
    /* .white_style{
        display:none
    }*/
</style>

@*@Html.Partial("GetConsignmentDetails", Model)*@

<div class="content-wrapper">
    <div class="box" style="padding: 16px 15px">
        <div class="box-body">
            <div class="row">
                <div class="col-md-12">
                    @Html.Raw(Model)
                </div>
            </div>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <input type="button" class="btn btn-info" @*id="showalldetails"*@ onclick="GetConsignmentDetails()" value="View All Details" />
    </div>
</div>

<table id="consignmentTable">
    <thead>
        <tr id="tableHeaders">
            <th>Sr No</th>
            <th>Date</th>
            <th>Delivery Status</th>
            <th>Activity Type</th>
            @*<th>From</th>*@
            <th>Origin</th>
            <th>To</th>
        </tr>
    </thead>
    <tbody id="consdata">
    </tbody>
    <tbody>
        <!-- Table body will be populated dynamically -->
    </tbody>
</table>


<script>
    function removeDuplicateScriptsAndStyles() {
        // Create arrays to store unique script and link sources
        var scriptSources = [];
        var linkSources = [];

        // Iterate through all script elements
        var scriptElements = document.getElementsByTagName('script');
        for (var i = 0; i < scriptElements.length; i++) {
            var src = scriptElements[i].getAttribute('src');
            if (src && scriptSources.indexOf(src) === -1) {
                // Script source is unique
                scriptSources.push(src);
            } else {
                // Duplicate script found, remove it
                  var consignmentno = '@ViewBag.Consignmentno';
                console.log("Duplicate ===removeDuplicateScriptsAndStyles==consignmentno==" + consignmentno);
                scriptElements[i].parentNode.removeChild(scriptElements[i]);
            }
        }

        // Iterate through all link elements
        var linkElements = document.getElementsByTagName('link');
        for (var j = 0; j < linkElements.length; j++) {
            var href = linkElements[j].getAttribute('href');
            if (href && linkSources.indexOf(href) === -1) {
                // Link source is unique
                linkSources.push(href);
            } else {
                // Duplicate link found, remove it
                linkElements[j].parentNode.removeChild(linkElements[j]);
            }
        }
    }
    document.addEventListener("DOMContentLoaded", function () {
        $("#consignmentTable").hide();
        removeDuplicateScriptsAndStyles();

        changeStylesOnLoad();
        //$("#podImgLink").hide();
        //$("#viewPOD").hide();
        //$("#viewSignature").hide();
        //$("#viewImage").hide();
        //$("#linkId").hide();

    });

    function changeStylesOnLoad() {

        var widgetHeader = document.querySelector('.widget-header_new');
        var white_style = document.querySelector('.white_style');
        var colMd12Elements = document.querySelector('.main-inner');
        var colmain = document.querySelector('.main');
        var topValignTds = document.querySelectorAll('td[valign="top"]');

        topValignTds.forEach(function (td) {
            td.style.textAlign = "center"; // You can set other values like "left", "right", or "justify"
        });

        if (widgetHeader) {

            widgetHeader.style.background = '#808080 none repeat scroll 0 0 !important';
            widgetHeader.style.borderTop = '0px solid #dde2e6 !important';


        }
    }

</script>
<script>
    var jsonData = [];
        function GetConsignmentDetails() {
            var consignmentno = '@ViewBag.Consignmentno';
            console.log("consignmentno==" + consignmentno);

            jQuery.noConflict();

            // Use jQuery instead of $
            jQuery.ajax({
                type: 'post',
                dataType: 'json',
                url:'/Admin/GetConsignmentInfoInDeatils',
                data: { ConsignmnetNo:consignmentno },
                success: function (data) {
                    // Handle the success response
                    alert("Done")


                    jsonData = data;
                    renderTable();
                },
                error: function (xhr, status, error) {
                    alert(error)
                }
            });
    }

    function renderTable() {
        var tableBody = $("#consignmentTable tbody");
      //  $("#consignmentTable tbody").empty();

        var parsedData = JSON.parse(jsonData);
        var tableBody = document.getElementById('consdata');
        console.log(parsedData)
        //var rows='';

        //parsedData.forEach(function (item, i) {

        //    rows += "<tr>"
        //        + "<td>" + (i + 1) + "</td>"
        //        + "<td>" + item.date + "</td>"
        //        + "<td>" + item.deliveryStatus + "</td>"
        //        + "<td>" + item.activityType + "</td>"
        //       // + "<td>" + (item.from ? item.from : '') + "</td>"
        //        + "<td>" + (item.origin ? item.origin : '') + "</td>"


        //        + "</tr>";

        //});

        parsedData.forEach(function (item, i) {
            var row = tableBody.insertRow(i);
            var cell1 = row.insertCell(0);
            var cell2 = row.insertCell(1);
            var cell3 = row.insertCell(2);
            var cell4 = row.insertCell(3);
            var cell5 = row.insertCell(4);
            var cell6 = row.insertCell(5)
            cell1.innerHTML = i + 1;
            cell2.innerHTML = item.date;
            cell3.innerHTML = item.deliveryStatus;
            cell4.innerHTML = item.activityType;
            cell5.innerHTML = item.origin;
            cell6.innerHTML = item.dest;
        });



        //alert(rows)
        //console.log("Append Row===" + rows)
        //tableBody.append(rows);
        //$.each(parsedData, function (i, item) {
        //    debugger;
        //    rows += "<tr>"
        //        + "<td>" + (i + 1) + "</td>"
        //        + "<td>" + item.date + "</td>"
        //        + "<td>" + item.activityType + "</td>"
        //        + "<td>" + item.deliveryStatus + "</td>"
        //        + "</tr>";
        //});

        // Append rows to the table body

    }

    renderTable();
</script>


@*<script>
    $(document).ready(function () {
        renderTable();
    });
    </script>*@