

<style>
    #frmEmp {
        margin: 15px 0;
        text-align: left;
    }
</style>

<form id="uploadForm" enctype="multipart/form-data">

    <div class="box box-info">
        <div class="box-header with-border">
            <h4>Upload Stamp</h4>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-12 ">


                    <div class="form-horizontal">
                        <div class="alert alert-success" id="successmsg">
                            <strong>Success!</strong> Upload successfully.
                        </div>
                        <div class="row">

                            <div class="col-6 col-sm-6 col-md-4">
                                <div class="form-group">

                                    <label class=""> Upload Stamp<small> (It will appear on invoice)</small> </label>
                                    <div class="">
                                        <input type="file" id="imageInput" name="image">
                                    </div>
                                </div>

                            </div>

                            <div class="col-md-12" style="text-align: right;">
                                <div class="form-group">
                                    <div class="">
                                        <button type="button" class="btn btn-primary" id="uploadButton">Upload</button>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>


            </div>
        </div>
    </div>

</form>

<script>
    $(document).ready(function () {

        $("#successmsg").hide();
    });


$(document).ready(function() {
  $('#uploadButton').click(function() {
    var fileInput = $('#imageInput')[0];
    var file = fileInput.files[0];
    var formData = new FormData();
    formData.append('image', file);
    $.ajax({
        url: '/Admin/UploadFile', // Replace with the URL to your C# upload handler action
      type: 'POST',
      data: formData,
      processData: false,
      contentType: false,
      success: function(response) {
          // Handle the response from the server
          if (response == "Success") {
              $("#successmsg").show();
          }
        console.log(response);
      },
      error: function(xhr, status, error) {
        // Handle error
        console.log(error);
      }
    });
  });
});
    </script>
