
<style>
    #frmEmp {
        margin: 15px 0;
        text-align: left;
    }

    #alertmessage {
        /* Add any styles for alert messages if needed */
    }
</style>

<script>
    $(document).ready(function () {
        $("#message").hide();
        // Add any additional JavaScript logic if needed
    });
</script>

<form enctype="multipart/form-data">
    <div class="box box-info" style="background: none; border: 1px solid #dbdbdb !important; background: white; padding: 15px;">
        <div class="box-header with-border" style="background: none; border: none;">
            <h4>Upload Stamp</h4>
        </div>

        <div id="alertmessage"></div>

        <div class="form-horizontal">
            <div class="row">
                <div class="col-md-12">


                    <div class="form-group">
                        <label class="col-md-3 control-label">Upload Stamp<br /><small>(It will appear on invoice & Image must be .png or .jpg or .jpeg format)</small></label>
                        <div class="col-md-5">
                            <div class="row">
                                <div class="col-md-6">
                                    <input type="file" name="file" id="file" class="form-control" />
                                    @Html.ValidationMessage("fileerr")
                                </div>
                                <div class="col-md-6">
                                    @if (ViewBag.stampImage != null)
                                    {
                                        <img src="@ViewBag.stampImage" style="height:100px;width:100px" />
                                    }
                                   else
                                    {
                                        <span>Image Not Uploaded</span>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-5">
                            <!-- Optional content in the middle of the form -->
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Save" class="btn btn-primary" id="uploadStamp" />
                        </div>
                    </div>




                    @*<div class="form-group">

                        <div class="col-md-2">
                            <label class="col-md-2">Upload Stamp<small> (It will appear on the invoice)</small></label>

                            <input type="file" name="file" id="file">

                        </div>
                        <br />
                        <div class="col-md-3">
                            <input type="button" value="Save" class="btn btn-success pull-right" id="uploadStamp">
                        </div>
                        <div class="col-md-4" style="margin-top: 10px;">
                            <img src="@ViewBag.stampImage" style="height: 90px; width: 90px;">
                        </div>
                    </div>

                    <div class="form-group" style="text-align: right;">

                    </div>*@

                </div>
            </div>
        </div>
    </div>
</form>



@*}*@

<script>
    $(document).on('click', '#uploadStamp', function () {
        var formData = new FormData();
        formData.append('file', $('#file')[0].files[0]);
        $.ajax({
            url: '/Admin/UploadFile',
            data: formData,
            processData: false,
            contentType: false,
            type: 'POST',
            success: function (data) {
                var successMessage = "Stamp Uploaded Successfully!";
                console.log(data)
                if (data.FailureReason) {
                    $("#errormessage").html('<span>' + "File upload failed: File is null" + '</span>');
                    $("#error-alert").show();
                }
                else {
                    var successMessageDiv = $('<div>', {
                        'class': 'alert alert-success d-flex justify-content-between align-items-center'

                    }).html('<strong>Success!</strong><span>' + successMessage + '</span><button type="button" class="close" data-dismiss="alert">X</button></div>');


                    $("#alertmessage").append(successMessageDiv);
                }
                


            },
            error: function () {
                $("#errormessage").html('<span>' + "Error Uploading File" + '</span>');
                alert('Error uploading file!');
                $("#error-alert").show();
            }
        });
    });
</script>

<script>
    //$(document).ready(function () {
    //    $("#uploadStamp").click(function () {
    //        alert("Document Ready")
    //    });
    //})
    //$(function () {
    //    alert("submit button");
    //    $('#uploadStamp').click(function () {
    //        alert("submit button");
    //        var formData = new FormData();
    //        formData.append('file', $('#file')[0].files[0]);
    //        $.ajax({
    //            url: '/Admin/UploadFile',
    //            data: formData,
    //            processData: false,
    //            contentType: false,
    //            type: 'POST',
    //            success: function (data) {
    //                alert(data)
    //                var data = "Stamp Uploaded Successfully!";
    //                var successAlert = $('<div>', {
    //                    'class': 'alert alert-success d-flex justify-content-between align-items-center',
    //                    'id': 'success-alert',
    //                    'style': 'display:none;'
    //                }).html('<strong>Success!</strong><span id="successmessage">' + data + '</span><button type="button" class="close" data-dismiss="alert">X</button>');

    //                // Append the success alert to a container (e.g., the body)
    //                $('body').append(successAlert);

    //                // Show the success alert
    //                successAlert.show();
    //            },
    //            error: function () {
    //                $("#errormessage").html('<span>' + "Error Uploading File" + '</span>');
    //                alert('Error uploading file!');
    //                $("#error-alert").show();
    //            }
    //        });
    //    });
    //});

</script>

<style>
    .alert-danger {
        color: #721c24;
        background-color: #f8d7da;
        border-color: #f5c6cb;
    }
</style>