<!-- _AlertPartial.cshtml -->
@model Tuple<string, string>

@if (!string.IsNullOrEmpty(Model.Item2))
{
    <div class="alert alert-@Model.Item1 d-flex justify-content-between align-items-center">
        <strong>@(Model.Item1.ToLower() == "success" ? "Success!!" : "Error:")</strong>@Model.Item2
        <button type="button" class="close" data-dismiss="alert">X</button>
    </div>

    <script>
        // Automatically hide the alert after 5 seconds
        setTimeout(function () {
            var alertElement = document.querySelector('.alert');
            if (alertElement) {
                alertElement.parentNode.removeChild(alertElement);
            }
        }, 100000);
    </script>
}

@*@{
    var successMessage = TempData["Success1"] as string;
    var errorMessage = TempData["Error1"] as string;
}

@if (!string.IsNullOrEmpty(successMessage))
{
    @Html.Partial("_AlertPartial", new Tuple<string, string>("success", successMessage))
}
else if (!string.IsNullOrEmpty(errorMessage))
{
    @Html.Partial("_AlertPartial", new Tuple<string, string>("danger", errorMessage))
}*@