<style>
    body, html {
        height: 100%;
        background-color: white;
    }

    .containerLogo {
        overflow: hidden;
    }

    .containerLogo .slider {
        animation: slidein 30s linear infinite;
        white-space: nowrap;
    }

    .containerLogo .slider .logos {
        width: 100%;
        display: inline-block;
        margin: 0;
    }

        .containerLogo .slider .logos img {
            width: 100px;
            height: 70px;
            margin-right: 33px;
        }

    @@keyframes slidein {
        from { 
            transform: translateX(0);
        }
        to {
            transform: translateX(-100%);
        }
    }

    @@keyframes fade-in {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    span.logotxt1 {
        color: #a94442;
        font-size: 48px;
        font-weight: 900;
    }

    .logotxt2 {
        font-size: 48px;
        font-weight: 100;
        color: black;
        margin-right: 36px;
    }

    .logo-text {
        font-size: 1.3em;
        text-align: center;
        color: #3c8cbd;
        font-family: 'Roboto Slab', serif;
    }
</style>

<div class="containerLogo">
    <div class="slider">
        <div class="logos">
            <img src="assets/ClientLogo/atk.png" alt="Image 1">
            @*<img src="assets/ClientLogo/veerexpress1.png" alt="Image 2">*@
            <span class="logotxt1" style="color: #a94442; font-size: 30px; font-weight: 900;">Veer</span>
            <span class="logotxt2" style="font-size: 25px; font-weight: 200; color: black;">Express</span>
            <img src="assets/ClientLogo/globex.png" alt="Image 3">
            <img src="assets/ClientLogo/IJS.png" alt="Image 4">
            <img src="assets/ClientLogo/Mexpress.png" alt="Image 5">

            <img src="~/assets/ClientLogo/VBExpress.png" alt="Image 1">
            <img src="~/assets/ClientLogo/Ontrack.png" alt="Image 2">
            <img src="~/assets/ClientLogo/GlobalWorldwideexpress.jpg" alt="Image 3">
            <span class="logotxt1" style="color: #065ab5; font-size: 30px; font-weight: 900;">Shubham</span>
            <span class="logotxt2" style="font-size: 25px; font-weight: 200; color: black;">Ex</span>

        </div>
        <div class="logos">
            <img src="assets/ClientLogo/atk.png" alt="Image 1">
            @*<img src="assets/ClientLogo/veerexpress1.png" alt="Image 2">*@
            <span class="logotxt1" style="color: #a94442; font-size: 30px; font-weight: 900;">Veer</span>
            <span class="logotxt2" style="font-size: 25px; font-weight: 200; color: black;">Express</span>
            <img src="assets/ClientLogo/globex.png" alt="Image 3">
            <img src="assets/ClientLogo/IJS.png" alt="Image 4">
            <img src="assets/ClientLogo/Mexpress.png" alt="Image 5">

            <img src="~/assets/ClientLogo/VBExpress.png" alt="Image 1">
            <img src="~/assets/ClientLogo/Ontrack.png" alt="Image 2">
            <img src="~/assets/ClientLogo/GlobalWorldwideexpress.jpg" alt="Image 3">
            <span class="logotxt1" style="color: #065ab5; font-size: 30px; font-weight: 900;">Shubham</span>
            <span class="logotxt2" style="font-size: 25px; font-weight: 200; color: black;">Ex</span>


        </div>
    </div>
</div>
