<table id="consignmentTable">
    <thead>
        <tr>
            <th>Activity Type</th>
            <th>Date</th>
            <th>Delivery Status</th>
            <!-- Add more columns as needed -->
        </tr>
    </thead>
    <tbody>
        <!-- Table body will be populated dynamically -->
    </tbody>
</table>