@{
    ViewBag.Title = "Printreceipt";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}



    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-md-8">
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <h3 class="box-title">Print Bulk Barcode</h3>
                        </div>


                        <!-- /.box-header -->
                        <!-- form start -->
                        <div class="form-horizontal">
                            <div class="box-body">
                                @if (TempData["error"] != null)
                                {
                                <div class="alert alert-danger">
                                    <strong>Error!</strong> @TempData["error"]
                                </div>
                                }
                                <div class="form-group">
                                    @using (Html.BeginForm("BulkBarcodePrint", "stationery", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                    {
                                        <div class="col-md-6">
                                            <label for="file"><strong id="up-txt"> Upload for Document </strong></label>
                                            <input type="file" name="httpPostedFileBase" id="file" class="form-control" />

                                        </div>
                                        <div class="col-md-6">
                                            <label></label>
                                            <input type="submit" value="Upload" class="btn btn-primary" />
                                            <a href="http://frbilling.com/excelformat/BarcodeFormat.xlsx" class="btn btn-success"> Export Excel</a>
                                        </div>

                                    }
                                </div>
                            </div>

                        </div>
                        </div>
                    </div>
                </div>
        </section>

    </div>
    <!-- /.content-wrapper -->


